.title {
  padding: 0 16px;
  margin-top: 2px;
}

.mat-list {
  padding-top: 0;
}

.item {
  background-color: white;
}

a {
  text-decoration: none;
}

.no-events {
  opacity: 0.6;
  margin: 16px;
}
