<h3 class="title">Kommende Tutorien</h3>
<mat-action-list>
  <div class="item" *ngFor="let event of dataService.upcomingActiveCourseEvents; let i = index">
    <a [href]="event.viewurl" target="_blank" rel="noopener" mat-list-item mat-ripple [matRippleColor]="'rgba(0,0,0,0.2)'">
      <h3 matLine>{{event.popupname}}</h3>
      <p matLine>{{event.timestart * 1000 | date:'short'}}</p>
    </a>
    <mat-divider [hidden]="i+1 === dataService.upcomingActiveCourseEvents.length"></mat-divider>
  </div>
</mat-action-list>
