@import "../../../_variables.scss";

.mat-list-text {
  color: rgba(0,0,0,.87);
  display: table-cell;
  padding-top: 10px;
  padding-bottom: 8px;

  h4 {
    font-size: 16px;
  }
  h4, p {
    margin: 0;
    font-weight: normal;
  }
  p {
    opacity: 0.8;
  }
}

.badge {
  margin-left: 6px;
  padding: 4px 6px;
  border-radius: 4px;

  display: flex;
  align-items: center;

  mat-icon {
    margin-left: 6px;
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

.mat-column-status>span {
  display: flex;
  align-items: center;
}

.passed .badge {
  background-color: #69F0AE;
}
.enrolled .badge {
  background-color: #3D5AFE;
  color: #fff;
}
.pending .badge {
  background-color: #EEEEEE;
}
.failed .badge {
  background-color: #FF5252;
  color: #fff;
}
.exam-pending .badge {
  background-color: #FFD740;
}
.evaluating .badge {
  background-color: #64FFDA;
}
.misc .badge {
  background-color: #EEEEEE;
}

.semester-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.mat-table {
  overflow: auto;
}
.mat-row {
  position: relative;
  cursor: pointer;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
  flex-grow: 1.8;
  flex-shrink: 0;
}
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  justify-content: flex-end;
}
