@import "../../../_variables.scss";

table {
  width: 100%;
  max-width: 100%;
}

.mat-list-text {
  color: rgba(0,0,0,.87);

  padding: 10px 0 8px 0;

  h4 {
    font-size: 16px;
  }
  h4, p {
    margin: 0;
    font-weight: normal;
  }
  p {
    opacity: 0.8;
  }
}

.badge {
  margin-left: 6px;
  padding: 2px 4px;
  border-radius: 4px;
}

.mat-column-status>span {
  display: flex;
  align-items: center;
}

.passed .badge {
  background-color: #69F0AE;
}
.enrolled .badge {
  background-color: #3D5AFE;
  color: #fff;
}
.pending .badge {
  background-color: #EEEEEE;
}

