@import "../../../variables";

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
}

.contact-card {
  width: 100%;
  max-width: 400px;
  margin: 8px 15px;
  &:first-child {
    //margin-top: 0;
  }
  h3 {
    margin-bottom: 10px;
  }
}
