<div class="links">
  <mat-nav-list>
    <h3 mat-subheader>Studienplattformen</h3>
    <a *ngFor="let mainLinks of mainLinks" mat-list-item href="{{mainLinks.url}}" target="_blank">
      <mat-icon mat-list-icon>{{mainLinks.picture}}</mat-icon>
      <h4 mat-line>{{mainLinks.titel}}</h4>
      <p mat-line> {{mainLinks.description}} </p>
    </a>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Wichtige Funktionen</h3>
    <a *ngFor="let functionLinks of functionLinks" mat-list-item href="{{functionLinks.url}}" target="_blank">
      <mat-icon mat-list-icon>{{functionLinks.picture}}</mat-icon>
      <h4 mat-line>{{functionLinks.titel}}</h4>
      <p mat-line> {{functionLinks.description}} </p>
    </a>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Telefonnummern</h3>
    <a *ngFor="let phoneLinks of phoneLinks" mat-list-item href="{{phoneLinks.url}}">
      <mat-icon mat-list-icon>{{phoneLinks.picture}}</mat-icon>
      <h4 mat-line>{{phoneLinks.titel}}</h4>
      <p mat-line> {{phoneLinks.description}} </p>
    </a>
  </mat-nav-list>
</div>
