<div class="tor">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let semesterData of tor; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>{{semesterData.name}}</mat-panel-title>
        <mat-panel-description *ngIf="semesterData.name.includes('Semester')">{{calcSemesterProgress(semesterData.modules)}}%</mat-panel-description>
      </mat-expansion-panel-header>
      <dash-semester-table [semesterData]="semesterData.modules" (moduleDetailOpen)="openBottomSheet($event)"></dash-semester-table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
