@import "../../../../variables";

.basic-stats {
  width: 100%;
  min-height: 100px;
  background-color: $primary-light;
  color: #fff;
  padding: 18px 16px;
  display: flex;
  flex-direction: column;

  .progression-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .more-stats {
    h4 {
      color: #fff;
    }
    &::ng-deep {
      mat-expansion-panel {
        background-color: transparent;
        box-shadow: none;
      }
      mat-expansion-panel-header {
        background: transparent!important;
        padding: 0;
      }
      .mat-content * {
        color: #fff;
      }
    }
  }
}

.weighted-average {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 94px;
  cursor: pointer;
  .title {
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .value {
    font-size: 2.3em;
  }
}

.progress {
  width: 100%;
  margin-right: 32px;
  pointer-events: none;

  h3 {
    margin: 0 0 4px 0;
  }
  span {
    opacity: 0.7;
  }

  .mat-slider {
    width: 100%;
  }
  ::ng-deep {
    .mat-slider-wrapper {
      height: 10px;
      top: 0;
      left: 0;
      right: 0;
    }
    .mat-slider-thumb {
      display: none;
    }
    .mat-slider-horizontal, .mat-slider-ticks-container, .mat-slider-track-wrapper, .mat-slider-track-background, .mat-slider-track-fill, .mat-slider-ticks {
      height: 10px!important;
    }
    .mat-slider-ticks {
      opacity: 1 !important;
    }
  }
}
