.mat-list-item {
  position: relative;
}

h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.courseGrade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
