<div class="module-detail" *ngIf="!loading">
  <h3 mat-line>{{dataBottom.moduleData.id}}</h3>
  <mat-nav-list>
    <h3 mat-subheader>Kurse</h3>
    <mat-list-item *ngFor="let course of dataBottom.moduleData.courses"
                   (click)="openCourseDescription(course.name, dataBottom.semesterName)">
      <mat-icon matListIcon>class</mat-icon>
      <h4 mat-line>{{course.id}}</h4>
      <p mat-line>{{course.name}}</p>
      <span class="passed" *ngIf="getStatus(dataBottom.moduleData) === 'B'"><span class="badge">{{course.grade}}
        <mat-icon>grade</mat-icon></span></span>
    </mat-list-item>
  </mat-nav-list>
</div>
<div class="loading" *ngIf="loading">
  <mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'"></mat-progress-spinner>
  <h3>Ladevorgang</h3>
  <span matLine>Das kann ein paar Sekunden dauern.</span>
</div>

