<div class="courses" [@fadeInOut]="closed ? 'close' : 'open'" (@fadeInOut.done)="onAnimationEvent($event)">
  <mat-toolbar color="accent">
    <button mat-icon-button (click)="closed = true;">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="search-input">
      <mat-form-field appearance="standard" color="primary">
        <input matInput placeholder="Suche" [(ngModel)]="term" #searchInput="matInput">
        <mat-icon matSuffix *ngIf="term !== ''" aria-label="Clear" (click)="term = ''">close</mat-icon>
      </mat-form-field>
    </div>
  </mat-toolbar>

  <mat-nav-list>
    <cdk-virtual-scroll-viewport class="list" itemSize="72">
      <mat-list-item
        *cdkVirtualFor="let course of dataService.allCourses | searchCourses:term; templateCacheSize: dataService.allCourses.length"
        (click)="openRecords(course)">
        <h4 mat-line>{{course.id}}</h4>
        <p mat-line> {{course.name}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-nav-list>
</div>
