:host {
  display: flex;
  justify-content: flex-end;
}

.courses {
  background-color: #fafafa;
  width: 100%;
  overflow: hidden;

  &::ng-deep {
    .mat-form-field-infix {
      border-top: none;
    }
  }
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  padding-bottom: 0;
  .mat-form-field {
    width: 100%;
  }
}

.mat-nav-list {
  margin-top: 0;
  padding-top: 0;

  overflow-y: auto;
}
.mat-nav-list, .list {
  max-height: calc(100vh - 56px);
  height: 100vh;
  max-width: 100%;
}

.courses::ng-deep.cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}
