.courses {
  background-color: #fafafa;
  min-height: 100vh;

  &::ng-deep {
    .mat-form-field-infix {
      border-top: none;
    }
  }
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  padding-bottom: 0;

  .mat-form-field {
    width: 100%;
  }
}

.mat-list {
  margin-top: 0;
  padding-top: 0;

  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
