<div class="loaded-content" *ngIf="contentLoaded">
  <mat-tab-group backgroundColor="primary" [dynamicHeight]="true" [(selectedIndex)]="tabIndex" (selectedIndexChange)="currentIndex = $event"
                 (animationDone)="activeIndex = currentIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="label" (click)="pseudoNavigate('dashboard')">
          Dashboard
        </div>
      </ng-template>
      <dash-overview></dash-overview>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="label" (click)="pseudoNavigate('kurse')">
          Kurse
        </div>
      </ng-template>
      <dash-tor></dash-tor>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="label" (click)="pseudoNavigate('schnellzugriff')">
          Schnellzugriff
        </div>
      </ng-template>
      <dash-links></dash-links>
    </mat-tab>
  </mat-tab-group>

  <div class="search-fab-wrapper">
    <button [@fabShowHide]="activeIndex === 1 && currentIndex === activeIndex ? 'show' : 'hide'"
            (click)="openSearch()" class="search-fab" mat-fab color="accent">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="course-search" *ngIf="searchOpen">
    <dash-courses (close)="closeSearch()"></dash-courses>
  </div>
</div>

<div class="loading" *ngIf="!contentLoaded">
  <mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'"></mat-progress-spinner>
  <h3>Ladevorgang</h3>
  <span matLine>Das kann ein paar Sekunden dauern.</span>
</div>
