$primary: #34525d;
$primary-dark: #09212a;
$primary-light: #34525d;

$secondary: #e68c74;
$secondary-dark: #b02800;
$secondary-light: #ff8c41;

$animation-timing-function: cubic-bezier(.4,0,.2,1);
$animation-duration: 0.3s;
