$primary: #113a47;
$primary-dark: #001520;
$primary-light: #3f6472;

$secondary: #e68c74;
$secondary-dark: #b02800;
$secondary-light: #ff8c41;

$animation-timing-function: cubic-bezier(.4,0,.2,1);
$animation-duration: 0.3s;
