@import "variables";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.mat-expansion-panel-body {
  padding: 0!important;
}
.mat-tab-header {
  //border-top: solid 2px $primary;
  //margin-top: -2px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

[hidden] {
  display: none!important;
}
