<div class="semester-table">
  <mat-table [dataSource]="semesterData">
    <ng-container matColumnDef="module">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Modul</mat-header-cell>
      <mat-cell *matCellDef="let module" class="mat-list-text"><h4 mat-line>{{module.id}}</h4><p mat-line>{{module.name}}</p></mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let module">
        <span class="passed" *ngIf="getStatus(module) === 'B'"><span class="badge">{{module.grade}} <mat-icon>grade</mat-icon></span></span>
        <span class="enrolled" *ngIf="getStatus(module) === 'A'"><span class="badge">aktiv <mat-icon>school</mat-icon></span></span>
        <span class="pending" *ngIf="getStatus(module) === '' || getStatus(module) === 'E'"><span class="badge">ausstehend</span></span>
        <span class="exam-pending" *ngIf="getStatus(module) === 'EE'"><span class="badge">Klausur angemeldet</span></span>
        <span class="failed" *ngIf="getStatus(module) === 'D'"><span class="badge">durchgefallen</span></span>
        <span class="evaluating" *ngIf="getStatus(module) === 'M'"><span class="badge">in Benotung</span></span>
        <span class="misc" *ngIf="getStatus(module) === 'KP'"><span class="badge">Kombinationsprüfung</span></span>
        <span class="misc" *ngIf="getStatus(module) === 'MP'"><span class="badge">Modulprüfung</span></span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" mat-ripple [matRippleColor]="'rgba(0,0,0,0.2)'" (click)="openModuleDetail(row)"></mat-row>
  </mat-table>
</div>
