.courses {
  display: flex;
  overflow-x: auto;
  padding-left: 16px;
  margin-left: -16px;
  margin-right: -16px;
  .course {
    margin-right: 24px;
  }
}

mat-card {
  margin-bottom: 16px;
  width: 350px;
}

mat-card-header {
  overflow: hidden;
}

mat-card-subtitle {
  white-space: nowrap;
}

a {
  text-decoration: none;
}
