<div class="moodle-courses">
  <h3 style="margin-top: 0;">Aktive Kurse</h3>
  <div class="courses active">
    <a class="course" [dashMoodleLink]="course.url" *ngFor="let course of dataService.activeMoodleCourses">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{course.shortname}}</mat-card-title>
          <mat-card-subtitle>{{course.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="course.image + '?token=' + dataService.userInfo?.moodleToken">
        <mat-card-content>
          <mat-progress-bar mode="determinate" [value]="course.progress" color="accent"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
