<div class="overview">
  <div class="active">
    <h4 style="margin-top: 0;">Aktive Kurse</h4>
    <div class="cards">
      <a [href]="course.url" target="_blank" *ngFor="let course of a.moodleOverview.active">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{course.id}}</mat-card-title>
            <mat-card-subtitle>{{course.name}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="course.img">
          <mat-card-content>
            <mat-progress-bar mode="determinate" [value]="course.progress.done / course.progress.all * 100" color="accent"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
